{% extends "base.html" %}

{% block title %}Selwyn Event Ticketing - Customers{% endblock %}

{% block content %}
    <h1 class="mt-3">Customer List</h1>
    <form method="GET" action="/customers">
        <div class="form-group">
            <label for="search">Search by Name or Email:</label>
            <input type="text" id="search" name="search" class="form-control" placeholder="Enter name or email" value="{{ request.args.get('search', '') }}">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Search</button>
    </form>

    <hr>

    {% if customers %}
        <h3 class="mt-4">All Customers</h3>
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Family Name</th>
                    <th>First Name</th>
                    <th>Date of Birth</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.family_name }}</td>
                        <td>{{ customer.first_name }}</td>
                        <td>{{ customer.date_of_birth.strftime('%d/%m/%Y') }}</td>
                        <td>{{ customer.email }}</td>
                        <td><a href="{{ url_for('customerticket', customer_id=customer.customer_id) }}" class="btn btn-info btn-sm">View Tickets</a></td>
                        <td><a href="{{ url_for('add_customer') }}" class="btn btn-primary">Add Customer</a><td>
                        <td><a href="{{ url_for('edit_customer', customer_id=customer.customer_id) }}" class="btn btn-warning">Edit</a><td>


             </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No customers found. Try a different search.</p>
    {% endif %}
{% endblock %}
