{% extends "base.html" %}

{% block title %}Selwyn Event Ticketing - Event Customer List{% endblock %}

{% block content %}

<h1>Event: {{ event['event_name'] }}</h1>
<p>Date: {{ event['event_date'] }}</p>

{% if customerlist %}
    <table class="table">
        <thead>
            <tr>
                <th>Family Name</th>
                <th>First Name</th>
                <th>Date of Birth</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customerlist %}
            <tr>
                <td>{{ customer.family_name }}</td>
                <td>{{ customer.first_name }}</td>
                <td>{{ customer.date_of_birth }}</td>
                <td><a href="{{ url_for('customerticket', customer_id=customer.customer_id) }}">View Tickets</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No customers have purchased tickets for this event.</p>
{% endif %}

{% endblock %}
